@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{ 
    int eventListPageId = GetPageIdByNavigationTag("EventsListFeed");
}

<div class="grid__col-12">
    <div class="grid js-ajax-container" id="EventsContent" data-template="EventsContentTemplate" data-json-feed="/Default.aspx?ID=@eventListPageId" data-preloader="overlay"></div>
    
    <script id="EventsContentTemplate" type="text/x-template">
        <div class="grid__col-12">
            <div class="collection u-no-margin">
                <h5>@Translate("Event type")</h5>
                <input type="checkbox" id="CategorySelector" class="dropdown-trigger" />
                <div class="dropdown u-w180px dw-mod">
                    <label class="dropdown__header dropdown__btn dw-mod" for="CategorySelector">{{selectedEventType}}</label>
                    <div class="dropdown__content dw-mod" id="EventTypes" data-template="EventTypesTemplate"></div>
                    <label class="dropdown-trigger-off" for="CategorySelector"></label>
                </div>
            </div>
        </div>

        <div class="grid__col-12" id="Months" data-template="MonthsListTemplate"></div>
    </script> 

    <script id="MonthsListTemplate" type="text/x-template">
        <h2 class="grid-caption">{{name}}</h2>
        <div id="Events" class="u-margin-bottom" data-template="EventTemplate"></div>
    </script>

    <script id="EventTemplate" type="text/x-template">
        <div class="grid__col--line-bottom">
            <div class="grid">
                <div class="grid__col-sm-3 grid__col--bleed-y">
                    <a href="{{link}}">{{title}}</a>
                </div>
                <div class="grid__col-sm-1 grid__col--bleed-y">
                    {{date}}
                </div>
                <div class="grid__col-sm-2 grid__col--bleed-y">
                    {{type}}
                </div>
                <div class="grid__col-sm-4 grid__col--bleed-y">
                    {{location}}
                </div>
                <div class="grid__col-sm-1 grid__col--bleed-y">
                    {{cost}}
                </div>
                <div class="grid__col-sm-1 grid__col--bleed-y">
                    <a href="{{signUpLink}}">@Translate("Sign up")</a>
                </div>
            </div>
        </div>
    </script>

    <script id="EventTypesTemplate" type="text/x-template">
        <div class="dropdown__item" onclick="Dynamo.UpdateContent('EventsContent', '/Default.aspx?ID=@eventListPageId&EventType={{id}}')">{{title}}</div>
    </script>
</div>