@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div class="grid__col-md-12 grid__col-sm-12">
    <div class="grid grid--align-center">
        @foreach (LoopItem item in GetLoop("ItemPublisher:Items.List"))
        {
            <div class="grid__col-md-2 grid__col-sm-2">
                <div class="grid__cell">
                    <div class="timeline__date">
                        2016
                        <small>Oct 1.</small>
                    </div>
                </div>
            </div>
            <div class="grid__col-md-8 grid__col-sm-8">
                <h2 class="article__header">@item.GetString("ItemPublisher:Item.Title")</h2>

                <p>@item.GetString("ItemPublisher:Item.Summary")</p>
            </div>
            <div class="grid__col-md-2 grid__col-sm-2">
                <div class="grid__cell">
                    <a href="@item.GetString("ItemPublisher:Item.DetailsUrl")" class="btn btn--primary dw-mod u-pull--right">@Translate("Read more")</a>
                </div>
            </div>
        }
    </div>
</div>
