@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
    int partnerListPageId = GetPageIdByNavigationTag("PartnersListFeed");
}

@* Escape the container and section *@
</div>
</section>
@* ----------------------------------- *@

<section class="multiple-paragraphs-container u-color-light-gray--bg">          
    <div class="center-container dw-mod">
        <div class="grid__col-12">
            <div class="grid js-ajax-container" id="PartnersContent" data-template="PartnersContentTemplate" data-json-feed="/Default.aspx?ID=@partnerListPageId" data-preloader="overlay"></div>

            <script id="PartnersContentTemplate" type="text/x-template">
                <div class="grid__col-12">
                    <div class="collection u-no-margin">
                        <h5>@Translate("Country")</h5>
                        <input type="checkbox" id="CountrySelector" class="dropdown-trigger" />
                        <div class="dropdown u-w180px dw-mod">
                            <label class="dropdown__header dropdown__btn dw-mod" for="CountrySelector">{{selectedCountry}}</label>
                            <div class="dropdown__content dw-mod" id="Countries" data-template="CountryTemplate"></div>
                            <label class="dropdown-trigger-off" for="CountrySelector"></label>
                        </div>
                    </div>
                </div>

                <div class="grid" id="PartnerGroup" data-template="PartnersGroupTemplate"></div>
            </script>

            <script id="PartnersGroupTemplate" type="text/x-template">
                <div class="grid__col-12 {{hideGroup}}">
                    <h4 class="u-no-margin u-margin-top">{{title}}</h4>
                </div>
                <div class="grid__col-12 grid__col--bleed {{hideGroup}}">
                    <div class="grid" id="Partners" data-template="PartnersListTemplate"></div>
                </div>
            </script>

            <script id="PartnersListTemplate" type="text/x-template">
                <div class="grid__col-md-3 grid__col-sm-3 grid__col-xs-12">
                    <div class="u-ta-center">
                        <div class="u-margin-bottom">
                            <a href="{{link}}">
                                <div class="u-color-light--bg">
                                    <img class="grid__cell-img grid__cell-img--centered u-padding" src="/Admin/Public/GetImage.ashx?width=240&amp;crop=5&amp;Compression=75&amp;DoNotUpscale=0&amp;image={{logo}}" alt="{{title}}">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </script>

            <script id="CountryTemplate" type="text/x-template">
                <div class="dropdown__item dw-mod" onclick="Dynamo.UpdateContent('PartnersContent', '/Default.aspx?ID=@partnerListPageId&PartnerCountry={{id}}')">{{title}}</div>
            </script>
        </div>
    </div>
</section>

@* Re-enter the container and section *@
<section class="content-container center-container dw-mod">
<div class="grid">
@* ----------------------------------- *@