@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@MasterPageFile("MasterNoEcom.cshtml")

@if (Model.PropertyItem.GetBoolean("ShowBreadcrumb"))
{
    <div class="grid__col-12">
        @RenderNavigation(new
   {
       id = "breadcrumb",
       template = "breadcrumb.xslt"
   })
    </div>
}

<div class="grid">
    @if (Model.PropertyItem.GetBoolean("LeftMenu") && RenderNavigation(new { }) != null)
    {
        <nav class="grid__col-md-3 grid__col-sm-12 grid__col-xs-12 paragraph-container">
            <div class="grid__cell">
                @RenderNavigation(new
              {
                  id = "leftnav",
                  cssclass = "menu dwnavigation",
                  endlevel = 5,
                  template = "LeftNavigation.xslt"
              })
            </div>
        </nav>
    }
    <div class="grid__col-auto grid__col--bleed">
        <div class="grid">
            @Model.Placeholder("dwcontent", "content", "default:true;sort:1")
        </div>
    </div>
</div>   