.overlay-container
{
	width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #000000;
    opacity: 0.3;
	text-align: center;
}
.overlay-container i {
    color: #FFF !important;
    opacity: 1 !important;
}

.overlay-panel
{
	margin: 20% auto 0 auto;
	width: 200px;
	padding: 5px;
}
.overlay-message
{
	font-size: 20px;
	font-weight: bold;
	color: #f5f5f5;
}
